#add-table{
    width: 100%;
    border-bottom: 1px solid rgba(43, 43, 43, 1);
    height: 105px;
}

#add-table button {
    border-radius: 4px; 
    margin: 2px;
    background-color: rgba(43, 43, 43, 0.643);
    color: white;
    cursor: pointer;
}
#add-table button:hover{
    background-color: rgba(54, 54, 54, 0.509);
}
